/* general */
@import url("https://fonts.cdnfonts.com/css/dana");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'dana', sans-serif;
  /* just for a */
  text-decoration: none;
}

:root {
  --primary--color--: #1E4FDB;
  --secondary--color--: #08236B;
}

.btn {
  color: white;
  background-color: var(--primary--color--);
  border: none;
  border-radius: 30px;
}

.active {
  color: blue !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
a {
  cursor: pointer;
}

/* remove default scrollvar */
::-webkit-scrollbar {
  width: 0;
}

html {
  scrollbar-width: none;
}

/* style horizontal scrollbar */

.scroll-progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 3px;
  background: linear-gradient(90deg,
      #2563eb,
      #06b6d4,
      #22c55e);
  z-index: 9999;
  box-shadow: 0 0 10px rgba(37, 99, 235, .5);
}

/* sticky nav*/
header {
  position: relative;
}

.sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100% !important;
  z-index: 55;
  margin: 0;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
}

/* hover on nav links */
.navbar ul li a {
  transition: opacity 0.6s;
}





/* top header */

header {
  padding: 28px 0px 40px;
}

.top-header-content {
  display: flex;
  flex-direction: row;
  width: 90%;
  padding: 20px 22px;
  box-shadow: 1px 1px 10px #ebeaeab2;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  border-radius: 8px;
}

.top-header-logo {
  display: flex;
  flex-direction: row;
  justify-content: start;
  text-align: center;
}

.top-header-logo img {
  width: 100%;
}

.top-header-nav {
  display: flex;
  flex-direction: row;
  justify-content: start;
  text-align: center;
}

/* mobile menu */
.burger-menu {
  display: none;
  flex-direction: column;
  gap: 5px;
  /* position: fixed;
  top: 16px;
  right: 10px; */
  list-style: none;
}

.burger-menu-line {
  width: 25px;
  height: 4px;
  background-color: black;
  border-radius: 15px;
  transition: transform 0.7s;
}

.burger-menu-line.active:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.burger-menu-line.active:nth-child(2) {
  transform: rotate(45deg);
}

.burger-menu-line.active:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}


/* desktop menu */
.desktop-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 40px;
}

.desktop-menu li a {
  color: #4A5468;
}

.top-header-get-start {
  display: flex;
  flex-direction: row;
  justify-content: start;
  text-align: center;
}

.top-header-get-start button {
  padding: 11px 22px;
}

.top-header-get-start button:hover {
  background-color: #12379a;
}

@media(max-width:767px) {
  header {
    padding: 0px;
  }

  .top-header-content {
    justify-content: space-between;
    box-shadow: none;
    width: 100%;
    padding: 25px 15px;
  }

  .top-header-get-start {
    display: none;
  }

  .top-header-nav {
    padding: 11px 12px 10px;
    background-color: #F1F5FF;
    border: none;
    border-radius: 10px;
  }

  .desktop-menu {
    display: none;
  }

  .burger-menu {
    display: flex;
  }
}





/* bottom header */
.bottom-header-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  align-items: center;
  margin: 0 auto;
  padding: 0px 30px
}

.bottom-header-title {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  padding: 75px 0px 30px;
}

.section-name {
  display: flex;
  flex-direction: row;
  align-self: center;
  background-color: #F1F5FF;
  border: none;
  border-radius: 30px;
  padding: 8px 35px 8px 25px;
}

.section-name .section-name-li {
  color: var(--primary--color--);
  font-weight: bold;
  font-size: 12px;
}

.bottom-header-title h1 {
  font-size: 40px;
  font-weight: bold;
  color: var(--secondary--color--);
  padding: 20px 0px 17px;
  max-width: 650px;
  text-align: center;
  line-height: 47px;
}

.bottom-header-title p {
  font-size: 16.5px;
  color: #4A5468;
  font-weight: 500;
  text-align: center;
  max-width: 690px;
  line-height: 27px;
}

.bottom-header-count {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #E4E9F3;
  padding: 30px 0px 0px;
  width: 100%;
  max-width: 500px;
  justify-content: center;
}

.bottom-header-count ul {
  display: flex;
  flex-direction: row;
  gap: 50px;
  list-style: none;
}

.bottom-header-count ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.bottom-header-count ul li h3 {
  font-size: 26px;
  color: var(--secondary--color--);
}

.bottom-header-count ul li p {
  font-size: 14px;
  color: #4A5468;
  font-weight: 500;
}

@media(max-width:767px) {
  .bottom-header-content {
    flex-direction: column;
    align-items: center;
    padding: 0px 15px;
    width: 100%;
  }

  .bottom-header-title {
    padding: 25px 0px 25px;
  }

  .bottom-header-title .section-name {
    align-self: center;
    margin: 0px;
  }

  .section-name-li {
    font-size: 13px !important;
  }

  .bottom-header-title h1 {
    text-align: center;
    width: 300px;
    font-size: 24px;
    line-height: 37px;
    padding-bottom: 7px;
  }

  .bottom-header-title p {
    text-align: center;
    width: 340px;
    font-size: 14.5px;
  }


  .bottom-header-count {
    width: 100%;
    max-width: 430px;
    justify-content: center;
    padding: 30px 0px 30px;
  }

  .bottom-header-count ul {
    gap: 17px;
  }

  .bottom-header-count ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bottom-header-count ul li div h3 {
    font-size: 23px;
  }

  .bottom-header-count ul li div p {
    font-size: 14px;
  }
}





/* first section */
.first-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0px 0px;
}

.first-section-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  padding: 0px 30px;
}

.operations__tab-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  width: 100%;
  padding-bottom: 50px;
}

.operations__tab-container div {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.operations__tab {
  padding: 10px 20px 8px;
  color: #4A5468;
  background-color: white;
  border: 2px solid #E4E9F3;
  font-size: 15px;
  font-weight: 400;
  border-radius: 35px;
  transition: 0.5s;
}

.operations__tab--1 {
  padding: 10px 20px 8px;
  color: #4A5468;
  background-color: white;
  border: 2px solid #E4E9F3;
  font-size: 15px;
  font-weight: 400;
  border-radius: 35px;
  transition: 0.5s;
}

.operations__tab--active {
  background-color: var(--primary--color--);
  color: white;
  font-weight: 500;
  font-size: 15px;
  transform: translateY(-4px);
  border: none;
}

.operations__content {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  gap: 20px;
}

.operations__content--active {
  display: flex;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #F3F6FC;
  padding: 0px 30px 50px;
}

.portfolio-container-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  width: 100%;
  max-width: 1200px;
  padding: 35px 0px 50px;
}

.portfolio-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  /* background-color: rgb(160, 115, 63); */
  border: 2px solid #E4E9F3;
  border-radius: 22px;
  /* max-height: 392px;
  min-height: 380px; */
  overflow: hidden;
  transition: transform 0.6s;
}

.portfolio-card:hover {
  transform: scale(1.02);
}

.portfolio-card-img {
  display: flex;
  width: 100%;
  height: 55%;
  background-color: #08236B;
}

.portfolio-card-img img {
  width: 100%;
  height: 100%;
}

.portfolio-card-dis {
  padding: 24px 30px 10px 30px;
  background-color: white;
  width: 100%;
  height: 100%;
}

.portfolio-card-dis ul {
  display: flex;
  padding: 8px 15px 8px 15px;
  list-style: none;
  justify-self: start;
  margin-bottom: 20px;
}

.portfolio-card-dis h3 {
  color: var(--secondary--color--);
  font-size: 20px;
  margin-bottom: 5px;
}

.portfolio-card-dis p {
  color: #4A5468;
  font-size: 14px;
}

.page-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  max-width: 285px;
  justify-content: center;
}

.ex-page,
.next-page {
  display: flex;
  color: var(--secondary--color--);
  background-color: white;
  justify-content: center;
  align-items: center;
  border: 1px solid #E4E9F3;
  border-radius: 11px;
  padding: 10px 16px 10px;
}

.page-num {
  display: flex;
  color: var(--secondary--color--);
  background-color: white;
  justify-content: center;
  align-items: center;
  border: 1px solid #E4E9F3;
  border-radius: 11px;
  padding: 2px 0px 0px;
  width: 30%;
  min-width: 46px;
}

.page-container .active-page {
  color: white;
  background-color: var(--primary--color--);
  font-weight: bold;
}

@media(min-width: 375px) and (max-width: 675px) {
  .first-section {
    padding: 25px 0px 0px;
  }

  .first-section-content {
    padding: 0px 15px;
  }

  .operations__tab-container {
    flex-direction: column;
    gap: 13px;
    padding-bottom: 27px;
  }

  .operations__tab-container div {
    justify-content: center;
    gap: 11px;
  }

  .operations__tab {
    font-size: 13.5px;
    padding: 10px 19px 8.5px;
  }

  .portfolio-container {
    padding: 0px 15px 45px;
  }

  .portfolio-container-content {
    grid-template-columns: repeat(1, 1fr);
    padding: 30px 0px 40px;
  }

  .portfolio-card {
    max-width: 410px;
    margin: 0px auto;
  }
}

@media(min-width:675px) {
  .portfolio-container-content {
    grid-template-columns: repeat(2, 1fr);
  }
}







/* second section */
.second-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 60px 30px 0px;
}

.second-section-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1945b5;
  width: 100%;
  max-width: 1200px;
  border: none;
  border-radius: 35px;
  padding: 35px 60px 31px;
}

.right-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-content h2 {
  color: white;
  font-size: 40px;
}

.right-content p {
  font-size: 16px;
  color: #d6dff7;
  line-height: 27px;
  padding: 3px 0px 0px
}

.left-content {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left-content button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 15px;
  font-weight: bold;
  color: #12379a;
  background-color: white;
  gap: 2px;
}

@media(max-width:767px) {
  .second-section {
    padding: 45px 15px 0px;
  }

  .second-section-content {
    width: 100%;
    flex-direction: column;
    padding: 35px 20px 27px;
    gap: 20px;
    border-radius: 25px;
  }

  .right-content {
    width: 100%;
    align-items: center;
  }

  .right-content h2 {
    font-size: 23px;
    text-align: center;
    padding-bottom: 5px;
    width: 280px;
  }

  .right-content p {
    font-size: 15px;
    text-align: center;
    width: auto;
  }

  .left-content button {
    padding: 15px 50px;
    border-radius: 65px;
    gap: 5px;
  }
}





/* last section */
.last-section {
  display: flex;
  width: 100%;
  height: 75px;
  background-color: white;
  border-bottom: 1px solid #E4E9F3;
}

@media(max-width:767px) {
  .last-section {
    height: 55px;
  }
}






/* footer */
footer {
  display: flex;
  justify-content: center;
  padding: 35px 0px 20px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1200px;
  justify-content: space-evenly;
  align-items: center;
  /* margin: 0 auto; */
  gap: 20px;
}

.top-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.top-footer-logo {
  display: flex;
  flex-direction: row;
  justify-content: start;
  text-align: center;
}

.top-footer-logo img {
  width: 100%;
}

.top-footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: start;
  text-align: center;
}

.top-footer-nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 40px;
}

.top-footer-nav ul li a {
  color: #4A5468;
}

.top-footer-icon-container {
  display: flex;
  flex-direction: row;
}

.top-footer-icon-container ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
}

.top-footer-icon-container ul li {
  border: 1px solid #E4E9F3;
  border-radius: 10px;
  padding: 9px;
}

.top-footer-icon-container ul li a {
  display: flex;
  place-content: center;
}

.top-footer-icon-container ul li a i {
  font-size: 16px;
  color: #12379A;
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px 0px 0px;
  border-top: 1px solid #E4E9F3;
  width: 100%;
}

.copyright p {
  font-size: 15px;
  color: #4A5468;
}

@media(max-width:767px) {
  footer {
    padding-bottom: 18px;
    width: 100%;
    padding: 26px 15px 23px;
  }

  .footer-content {
    width: 100%;
  }

  .top-footer {
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

  .top-footer-logo img {
    max-width: 240px;
  }

  .top-footer-nav ul {
    gap: 17px;
  }

  .top-footer-nav ul li a {
    font-size: 15px;
  }

  .top-footer-icon-container ul {
    gap: 15px;
  }

  .top-footer-icon-container ul li {
    padding: 9px 11px;
  }

  .copyright {
    padding-top: 20px;
  }
}