/* general */
@import url("https://fonts.cdnfonts.com/css/dana");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'dana', sans-serif;
  /* just for a */
  text-decoration: none;
  /* cursor: none; */
}

:root {
  --primary--color--: #1E4FDB;
  --secondary--color--: #08236B;
}

.btn {
  color: white;
  background-color: var(--primary--color--);
  border: none;
  border-radius: 30px;
}

.active {
  color: blue !important;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
a {
  cursor: pointer;
}

/* remove default scrollvar */
::-webkit-scrollbar {
  width: 0;
}

html {
  scrollbar-width: none;
}

/* style horizontal scrollbar */
.scroll-progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 3px;
  background: linear-gradient(90deg,
      #2563eb,
      #06b6d4,
      #22c55e);
  z-index: 9999;
  box-shadow: 0 0 10px rgba(37, 99, 235, .5);
}

/* sticky nav*/
header {
  position: relative;
}

.sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  width: 100% !important;
  z-index: 55;
  margin: 0;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
}

/* hover on nav links */
.top-header-logo img {
  transition: opacity 0.6s;
}

.top-header-nav ul li a {
  transition: opacity 0.6s;
}

.top-header-get-start button {
  transition: 0.6s;
}


/* mouse cursor */
.cursor-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border: 1.9px solid var(--primary--color--);
  border-radius: 100%;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: width 0.3s, height 0.3s;
}

/* hover on links and ... */
.cursor-container.active {
  width: 55px;
  height: 55px;
}

.cursor {
  width: 12px;
  height: 12px;
  background-color: #06b6d4;
  border: none;
  border-radius: 100%;
  pointer-events: none;
  z-index: 9999;
}



/* top header */

header {
  padding: 28px 0px 0px;
}

.top-header-content {
  display: flex;
  flex-direction: row;
  width: 90%;
  padding: 20px 22px;
  box-shadow: 1px 1px 10px #ebeaeab2;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  border-radius: 8px;
}

.top-header-logo {
  display: flex;
  flex-direction: row;
  justify-content: start;
  text-align: center;
}

.top-header-logo img {
  width: 100%;
}

.top-header-nav {
  display: flex;
  flex-direction: row;
  justify-content: start;
  text-align: center;
}

.top-header-nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 40px;
}

.top-header-nav ul li a {
  color: #4A5468;
}

.top-header-get-start {
  display: flex;
  flex-direction: row;
  justify-content: start;
  text-align: center;
}

.top-header-get-start button {
  padding: 11px 22px;
}

.top-header-get-start button:hover {
  background-color: #12379a;
}

/* bottom header */

.bottom-header-content {
  display: flex;
  flex-direction: row;
  width: 80%;
  max-width: 1450px;
  padding: 100px 0px 0px;
  align-items: start;
  margin: 0 auto;
}

.bottom-header-content-right {
  display: flex;
  flex-direction: column;
  flex: 0.9;
  gap: 60px;
}

.bottom-header-content-right-up {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.bottom-header-content-right-up div:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bottom-header-content-right-up div .section-name {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  background-color: #F1F5FF;
  border: none;
  border-radius: 30px;
  padding: 8px 35px 8px 25px;
}

.bottom-header-content-right-up div .section-name .section-name-li {
  color: var(--primary--color--);
  font-weight: bold;
  font-size: 12px;
}

.bottom-header-content-right-up div h1 {
  width: 290px;
  color: var(--secondary--color--);
}

.bottom-header-content-right-up div h1 span {
  color: var(--primary--color--);
}

.bottom-header-content-right-up div p {
  color: #4A5468;
  text-align: justify;
  width: 290px;
  line-height: 28px;
}

.bottom-header-content-right-up div:nth-child(2) {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: start;
  align-items: center;
}

.bottom-header-content-right-up div button {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 5px;
  transition: background-color 0.6s;
}

.bottom-header-content-right-up div button:hover {
  background-color: #12379A;
}

/* arrow Icon */
.ri-arrow-left-s-line {
  place-content: center;
}

.bottom-header-content-right-up div h4 a {
  color: var(--secondary--color--);
  transition: 0.6s;
  padding: 7px 20px;
  border: 1px solid var(--primary--color--);
  border-radius: 30px;
}

.bottom-header-content-right-up div h4 a:hover {
  color: white;
  background-color: var(--primary--color--);
  padding: 7px 20px;
  border: none;
  border-radius: 30px;
}

.bottom-header-content-right-down {
  display: flex;
  flex-direction: row;
  padding: 20px 50px 100px 0px;
  border-top: 1px solid #E4E9F3;
}

.bottom-header-content-right-down ul {
  display: flex;
  flex-direction: row;
  gap: 40px;
  list-style: none;
}

.bottom-header-content-left {
  display: flex;
  flex-direction: row;
  flex: 1;
  min-width: 500px;
  padding-top: 100px;
  /* padding-top: clamp(0px, 10vw, 100px); */

}

.bottom-header-content-left img {
  width: 100%;
  height: auto;
}



.features-first-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0px 0px;
}

.features-second-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: start;
  align-items: center;
  background-color: white;
}

.icon-box {
  display: flex;
}

.icon-box ul {
  display: flex;
  list-style: none;
  background-color: #F1F5FF;
  padding: 6px 10px;
  border: none;
  border-radius: 8px;
}

.icon-box ul li {
  display: flex;
  justify-content: start;
  align-items: center;
  color: var(--primary--color--);
}

.icon-box ul li i {
  font-size: 20px;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.features h3 {
  color: var(--secondary--color--);
  font-size: 16px;
}

.features p {
  font-size: 15px;
  color: #4A5468;
}

/* first section */

.first-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  /* padding: 30px 0px 30px 100px; */
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: clamp(0px, 2vw, 100px);
  width: 75%;
  max-width: 1700px;
  margin: 0 auto;
  border-top: 1px solid #E4E9F3;
  border-bottom: 1px solid #E4E9F3;
}

.first-section .slider-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-container {
  display: flex;
  flex-direction: row;
  /* flex: 1; */
  width: 50%;
  min-width: 600px;
  /* min-width: 60%; */
  padding: 0px 50px;
  position: relative;
}

.slider {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.track {
  display: flex;
  width: 100%;
  animation: scroll 5s linear infinite;
}

.slide {
  position: absolute;
  width: 20%;
  left: 0;
  top: 17%;
  bottom: 0;
  /* craet animation */
  transition: transform 1s;
}


.slide div {
  display: flex;
  width: 100%;
  height: 100%;
}

.slide div p {
  text-align: start;
  width: 100%;
  font-size: 19px;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@media(max-width:1200px) {
  .first-section {
    padding-left: 0px;
  }

  .slider-container {
    padding-left: 0px;
  }

  .bottom-header-content-right-down {
    padding-right: 0px;
  }

  .bottom-header-content-right-down ul {
    gap: 20px;
  }

  .bottom-header-content-right-down ul li div p {
    font-size: 14px;
  }
}

@media(max-width:992px) {
  .slide {
    width: 25%;
  }

  @keyframes scroll {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-125%);
    }
  }
}


/* second section */


.second-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 0px 40px;
}

.second-section-content {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto; */
  gap: 20px;
}

.second-section-content:nth-child(1) {
  padding: 100px 0px 70px;
}

.section-name {
  display: flex;
  flex-direction: row;
  background-color: #F1F5FF;
  border: none;
  border-radius: 27px;
  padding: 8px 35px 8px 25px;
  margin-bottom: 20px;
}

.section-name-li {
  color: var(--primary--color--);
  font-weight: bold;
  font-size: 13px;
}

.second-section-content h2 {
  color: var(--secondary--color--);
  font-size: 35px;
  text-align: center;
  max-width: 530px;
}

.second-section-content p {
  color: #4A5468;
}

.second-section-content div {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 0 30px;
}

.second-section-content div div {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: start;
  padding: 10px 25px 15px;
  border: 1px solid #E4E9F3;
  border-radius: 22px;
  gap: 0;
  height: 222.2px;
  transition: border 0.6s;
}

.second-section-content div div:hover {
  border: 1.5px solid var(--primary--color--);
}

.second-section-content div div ul {
  background-color: #F1F5FF;
  padding: 9px 12px;
  list-style: none;
  border-radius: 10px;
  align-self: self-start;
  margin-bottom: 20px;
}

.second-section-content div div ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary--color--);
  font-size: 19px;
}

.second-section-content div div h3 {
  color: var(--secondary--color--);
  margin-bottom: 6px;
  font-size: 17px
}

.second-section-content div div p {
  color: #4A5468;
  font-size: 15px;
  text-align: justify;
}



/* third section */


.third-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F3F6FC;
  padding: 100px 0px;
  gap: 50px;
}

.third-section-content {
  display: flex;
  flex-direction: column;
  justify-content: end;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
}

.third-section-content:nth-child(2) {
  gap: 20px;
}

.third-section-content h2 {
  color: var(--secondary--color--);
  font-size: 35px;
  margin-bottom: 10px;
}

.third-section-content p {
  color: #4A5468;
  font-size: 15px;
}

.third-section-content .box {
  display: flex;
  flex-direction: row;
  gap: 20px;
  /* background-color: aqua; */
}

.third-section-content .box-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  /* background-color: rgb(160, 115, 63); */
  border: 1px solid #E4E9F3;
  border-radius: 22px;
  max-height: 392px;
  overflow: hidden;
  transition: transform 0.6s;
}

.third-section-content .box-content:hover {
  transform: scale(1.02);
}

.box-content-img {
  display: flex;
  width: 100%;
  height: 55%;
  background-color: #08236B;
}

.box-content-img img {
  width: 100%;
  height: 100%;
}

.box-content-dis {
  padding: 24px 30px 30px 30px;
  background-color: white;
  width: 100%;
  height: 45%;
}

.box-content-dis ul {
  display: flex;
  padding: 8px 15px 8px 15px;
  list-style: none;
  justify-self: start;
}

.box-content-dis h3 {
  color: var(--secondary--color--);
  font-size: 20px;
  margin-bottom: 5px;
}

.box-content-dis p {
  color: #4A5468;
  font-size: 14px;
}

.btn-div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.third-section-content button {
  background-color: white;
  padding: 15px 30px;
  border: 1px solid #DCE7FE;
  border-radius: 35px;
  color: #12379A;
  font-weight: bold;
  font-size: 15px;
  transition: border 0.6s;
}

.third-section-content button:hover {
  border: 1.5px solid var(--primary--color--);
}

/* forh section */


.forth-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 120px 30px;
}

.forth-section-content {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  gap: clamp(50px, 7vw, 300px);
}

.forth-section-content-img {
  display: flex;
  padding-top: 20px;
  width: 45%;
  align-items: center;
}

.forth-section-content-img img {
  width: 343px;
  height: auto;
  max-height: 287px;
}

.forth-section-content-text {
  display: flex;
  flex-direction: column;
  width: 55%;
}

.why-us {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: start;
}

.why-us ul {
  margin-bottom: 0px;
}

.why-us ul li {
  font-size: 14px;
}

.why-us h2 {
  color: var(--secondary--color--);
  font-size: 27px;
}

.why-us p {
  color: #4A5468;
  font-size: 16px;
  line-height: 27px;
  max-width: 500px;
}

.features-first-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 0px 0px;
}

.features-second-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: start;
  align-items: center;
}

.icon-box {
  display: flex;
}

.icon-box ul {
  display: flex;
  list-style: none;
  background-color: #F1F5FF;
  padding: 6px 10px;
  border: none;
  border-radius: 8px;
}

.icon-box ul li {
  display: flex;
  justify-content: start;
  align-items: center;
}

.icon-box ul li i {
  font-size: 20px;
  color: var(--primary--color--) !important;
  transition: 0.6s;
}

.icon-box ul li i.active {
  transform: scale(1.5);
  color: #22c55e !important;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.features h3 {
  color: var(--secondary--color--);
  font-size: 16px;
}

.features p {
  font-size: 15px;
  color: #4A5468;
}

@media(max-width:992px) {
  .forth-section-content-img {
    padding: 70px 0px 0px;
    width: 50%;
  }

  .forth-section-content-text {
    width: 50%;
  }
}

/* fifth section */


.fifth-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F3F6FC;
  padding: 120px 30px;
}

.fifth-section-content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}

.fifth-section-content:nth-child(1) {
  flex-direction: column;
  padding: 0px 0px 65px;
}

.fifth-section-content:nth-child(2) {
  flex-direction: row;
  gap: 15px;
}

.fifth-section-content h2 {
  color: var(--secondary--color--);
  font-size: 35px;
  margin-bottom: 5px;
}

.fifth-section-content p {
  color: #4A5468;
  font-size: 16px;
}

.steps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  border: 1px solid #E4E9F3;
  border-radius: 35px;
  padding: 32px 24px;
  max-height: 205px;
  width: 25%;
  transition: 0.6s;
}

.steps:hover {
  border: 1.5px solid var(--primary--color--);
  transform: scale(1.02);
}

.steps h2 {
  color: #DCE7FE;
  font-size: 35px;
  transition: color 0.6s;
}

.steps:hover h2 {
  color: var(--primary--color--);
}

.steps h3 {
  color: var(--secondary--color--);
  font-size: 17px;
  margin-bottom: 5px;
}

.steps p {
  color: #4A5468;
  font-size: 15px;
  text-align: start;
}

@media(max-width:1100px) {
  .fifth-section-content .steps {
    height: 230px;
  }
}


/* sixth section */

.sixth-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 65px 30px;
}

.sixth-section-content,
.sixth-section-comments-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
}

.sixth-section-content {
  flex-direction: column;
  padding: 32px 0px 0px;
}

.sixth-section-comments-container {
  flex-direction: row;
  padding: 64px 0px 0px;
  position: relative;
  width: 95%;
  /* height: 300px; */
}

.right-btn,
.left-btn {
  display: flex;
  place-content: center;
  border: 1px solid #E4E9F3;
  border-radius: 100%;
  background-color: #F3F6FC;
  padding: 10px 15px;
  font-size: 15px;
}

.right-btn {
  position: absolute;
  top: 54%;
  right: -6%;
  outline: none;
}

.left-btn {
  position: absolute;
  top: 54%;
  left: -6%;
  outline: none;
}

.sixth-section-content h2 {
  color: var(--secondary--color--);
  font-size: 35px;
}

.comments-card-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* gap: 15px; */
  overflow: hidden;
  position: relative;
  height: 100%;
}

.comments-card {
  display: flex;
  flex-direction: column;
  border: none;
  justify-content: space-between;
  border-radius: 35px;
  background-color: #F3F6FC;
  padding: 31px 32px 32px 32px;
  gap: 25px;
  width: 32%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  transition: 0.8s;
}

.comments-card .comment {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.comments-card .comment p {
  color: #0B1220;
  text-align: right;
  font-size: 16px;
  display: -webkit-box;
  /* lines number */
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  cursor: auto !important;
}

.comments-card .user-information-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: start;
  align-items: center;
}

.comments-card .user-information-container .profile-box {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.profile-box img {
  width: 100%;
  border-radius: 100%;
}

.comments-card .user-information-container .information {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.comments-card .user-information-container .information h3 {
  color: var(--secondary--color--);
  font-size: 16px;
  display: -webkit-box;
  /* lines number */
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  cursor: auto !important;
}

.comments-card .user-information-container .information p {
  color: #4A5468;
  font-size: 14px;
  font-weight: bold;
  display: -webkit-box;
  /* lines number */
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  cursor: auto !important;
}

@media(max-width:992px) {
  .comments-card {
    width: 48.8%;
  }
}

/* seventh section */


.seventh-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 130px 30px 30px;
  background-color: #F3F6FC;
}

.seventh-section-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 1200px;
  max-width: 1200px;
  /* gap: clamp(0px, 10vw, 278px); */
}

.seventh-section-content-right {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.seventh-section-content-right .section-name {
  padding-right: 20px;
}

.seventh-section-content-right h2 {
  color: var(--secondary--color--);
  font-size: 24px;
  margin-bottom: 10px;
}

.seventh-section-content-right p {
  color: #4A5468;
  font-size: 16px;
  width: 415px;
  line-height: 30px;
}

.our-social-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 16px 0px 0px;
  gap: 15px;
  padding: 20px 0px 0px;
}

.our-social {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.icon-box ul {
  background-color: white;
}

.icon-box ul li i {
  color: black;
  font-size: 17px;
}

.contact {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contact p {
  font-size: 15px;
  color: #4A5468;
}

.seventh-section-container-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.seventh-section-container-left form {
  display: flex;
  flex-direction: column;
  background-color: white;
  /* justify-content: start;
  align-items: center; */
  padding: 55px 55px 35px 55px;
  overflow: hidden;
  border: none;
  border-radius: 30px;
  gap: 15px;
  /* margin-top: 60px; */
}

form h5 {
  font-size: 15px;
}

form input,
form textarea {
  border: 1px solid #E4E9F3;
  border-radius: 9px;
  padding: 10px 12px;
  outline: none;
}

.name-number-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.name-div,
.number-div {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}

.input-number {
  direction: ltr;
}

.email-discribe-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.email-discribe-div input {
  margin-bottom: 5px;
}

.textarea {
  height: 120px;
  padding: 10px 12px;
  resize: none;
}

.submit {
  background-color: #1E4FDB;
  border: none;
  border-radius: 20px;
  color: white;
  word-spacing: 2px;
  padding: 10px 0px;
  transition: background-color 0.6s;
}

.submit:hover {
  background-color: #12379A;
}


/* footer */

footer {
  display: flex;
  justify-content: center;
  padding: 24px 0px 15px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 1200px;
  justify-content: space-evenly;
  align-items: center;
  /* margin: 0 auto; */
  gap: 20px;
}

.top-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.top-footer-logo {
  display: flex;
  flex-direction: row;
  justify-content: start;
  text-align: center;
}

.top-footer-logo img {
  width: 100%;
}

.top-footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: start;
  text-align: center;
}

.top-footer-nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 40px;
}

.top-footer-nav ul li a {
  color: #4A5468;
}

.top-footer-icon-container {
  display: flex;
  flex-direction: row;
}

.top-footer-icon-container ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
  list-style: none;
}

.top-footer-icon-container ul li {
  border: 1px solid #E4E9F3;
  border-radius: 10px;
  padding: 9px;
}

.top-footer-icon-container ul li a {
  display: flex;
  place-content: center;
}

.top-footer-icon-container ul li a i {
  font-size: 16px;
  color: #12379A;
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px 0px 0px;
  border-top: 1px solid #E4E9F3;
  width: 100%;
}

.copyright p {
  font-size: 15px;
  color: #4A5468;
}